.The_Card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 12%;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    border: 2px solid black;
    transition: 0.3s;
}
.The_Card:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    margin-left: 20px;
}
.The_Card:hover  .ButtoT{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
.The_Card:hover  .circleE{
    border: 5px solid black;
    cursor: pointer;
}


.Icon_Text{
    display: flex;
    align-items: center;
    justify-content: first baseline;
    margin: 5px;
    width: 90%;
    height: 100%;
    gap: 15px;
    font-family: Cascadia;
    font-size: 20px;

}
.Icon_Button{
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 10px;
    width: 10%;
    height: 100%;
}
.textp{
    width: 50px;
    height: 50px;
}
.ButtoT{
    width: 55%;
    height: 90%;
    background-color: black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.circleE{
    width: 65%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 100px;
    border: 5px solid white;
    transition: 0.3s;
}