.eventta{
    width: 75%;
    height: 50%;
    background-color: white;
    border: solid 2px black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}